table {
  border-collapse: collapse;
  width: 90%;

}

th,tbody {
  background-color: lightblue;
  padding: 25px;
  font-size: 18px;

}
th {
  font-weight: bold;
  border-bottom: solid;
}
th.empty {
  background-color: transparent;
  border-bottom: none;
}
td {
  text-align: center;
  margin-top: 15px;
}
form {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding: 5px;
}

input {
  padding: 5px;
}
label {
  font-weight: bold;
}
input.search {
  font-weight: bold;
  margin-top: 20px;
  padding: 8px;
}
