.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
        h1 New Address
      .modal-body
        form(name="newAddressForm", novalidate)
          .form-group(ng-class="{'has-success': newAddressForm.n.$dirty && main.newPerson.name.length > 1, 'has-error': newAddressForm.n.$dirty && !main.newPerson.name}")
            label.control-label Name
            input.form-control(name="n", type="text", placeholder="John", ng-model="main.newPerson.name", required)
          .form-group(ng-class="{'has-success': newAddressForm.p.$dirty && main.newPerson.phone, 'has-error': newAddressForm.p.$dirty && !main.newPerson.phone}")
            label.control-label Phone
            input.form-control(name="p", type="tel", placeholder="615-555-5555", ng-model="main.newPerson.phone", required)
          .form-group(ng-class="{'has-success': newAddressForm.t.$dirty && main.newPerson.twitter.length > 1 && main.newPerson.twitter[0] === '@' , 'has-error': newAddressForm.t.$dirty && (main.newPerson.twitter.length < 2 || main.newPerson.twitter[0] !== '@')}")
            label.control-label Twitter
            input.form-control(name="t", type="text", placeholder="@abc123", ng-model="main.newPerson.twitter", required)
          .form-group(ng-class="{'has-success': newAddressForm.t.$dirty && main.newPerson.i.$valid , 'has-error': newAddressForm.t.$dirty && main.newPerson.i.$invalid }")
            label.control-label Image
            input.form-control(name="i", type="url", placeholder="http://google.com/img.jpg", ng-model="main.newPerson.photo", required)
      .modal-footer
        button.btn.btn-danger(data-dismiss="modal") Cancel
        button.btn.btn-primary(ng-click="newAddressForm.$valid && main.addNewAddress()", ng-disabled="newAddressForm.$invalid") Add Person to Address Book
