
h1 Angular Addresses Using Firebase
h2 Search
input(placeholder="Search", ng-model="query")
h2 Addresses
div(ng-include="'views/table.html'")
.btn.btn-primary(data-toggle="modal", data-target="#modal") New Address
div(ng-include="'views/modal.html'")














